body{
    width: 1200px;
    margin: auto;
    background: white;
}
header{
    margin:auto;
    font-family: 'Roboto Condensed', sans-serif; 
}
header h1{
    font-size: 70px;
    color: #F5CE28;
    margin: auto;
}
body header h2{
    font-size: 20px;
    color: #F81B84;
    text-align: left;
    padding-top: 0;
    padding-bottom: 50px;
}
body h2{
    margin:auto;
    font-family: 'Roboto Condensed', sans-serif;
    color:#333333;
    font-size: 20px;
    padding-top: 50px;
    line-height: 2em;
    text-align: center;
}
h3{
    margin:auto;
    font-family: 'Roboto Condensed', sans-serif;
    color:#333333;
    font-size: 20px;
    padding-top: 50px;
}
img{
    border: 2px solid #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    margin:auto;
    font-family: 'Roboto Condensed', sans-serif;
    color:#333333;
    font-size: 18px;
    line-height: 2em;
    text-indent: 2em;
}
footer{
    font-family: 'Roboto Condensed', sans-serif; 
    color: #F81B84;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
}
footer a{
    color:#F81B84;
}
#validator{
    text-align: right;
}